:root {
  --arcade-radius-xsmall: 0.1875rem;
  --arcade-radius-small: 0.25rem;
  --arcade-radius-medium: 0.5rem;
  --arcade-radius-large: 0.75rem;
  --arcade-radius-xlarge: 1.25rem;
  --arcade-radius-pill: 9999px;
  --arcade-radius-circle: 50%;

  --arcade-border-width-small: 0.03125rem;
  --arcade-border-width-medium: 0.0625rem;
  --arcade-border-width-large: 0.25rem;
}
