:root {
  --arcade-spacing-xsmall: 0.125rem;
  --arcade-spacing-small: 0.25rem;
  --arcade-spacing-medium: 0.5rem;
  --arcade-spacing-large: 1rem;
  --arcade-spacing-xlarge: 2rem;
  --arcade-spacing-xxlarge: 3rem;

  --arcade-within-section-small: 0.25rem;
  --arcade-within-section-medium: 0.5rem;
  --arcade-between-section-large: 1rem;
  --arcade-between-section-xlarge: 1.5rem;

  --arcade-margin-default: 0.5rem;
}
